@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inconsolata', monospace;
  background: url('../public/alien.svg');
  background-repeat: repeat;
  background-size: 25px 25px;
  background-color: black;
}

.main-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.header {
  font-size: 16px;
  color: black;
}

.form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 20px;
  width: 250px;
  background-color: rgba(20, 227, 26);
  border-radius: 10px;
}

.flanking-block {
  display: none;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-with-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

label {
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.submit {
  color:rgb(20, 227, 26);
  background-color: white;
  border-color: #fff;
  border-radius: 5px;
}

.clear-button {
  background: none;
  border: none;
  color: rgb(215, 31, 31);
  cursor: pointer;
}

.save {
  color:rgb(20, 227, 26);
  background-color: white;
  border-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.input {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 120px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.logo {
  font-family: 'Orbitron', sans-serif;
  position: sticky;
  color: rgb(20, 227, 26);
  width: 340px;
  padding-bottom: 20px!important;
  padding-top: 25px!important;
  background-color: black;
  border-bottom: 2px solid rgb(20, 227, 26);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a {
  color: rgb(20, 227, 26);
  font-size: 48px;
}

.logo, .fixed-logo {
  font-family: 'Orbitron', sans-serif;
  width: 340px;
  padding-bottom: 20px!important;
  padding-top: 25px!important;
  background-color: black;
  border-bottom: 2px solid rgb(20, 227, 26);
  z-index: 999;
}

.fixed-logo a {
  color: rgb(20, 227, 26);
  font-size: 48px;
}

img {
  width: 100%;
  text-align: center;
}

a {
  color: black;
  font-size: 14px;
}

.acts-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.picture-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  color:white;
  background-color: rgba(20, 227, 26);
  border-color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.save-image {
  color:white;
  background-color: rgba(20, 227, 26);
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.upload-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 250px;
}

.prof-pic {
  border-radius: 100%;
}

.picture-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  width: 125px;
  border-radius: 100%;
}

.days-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 20px;
}

.day-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin-bottom: 30px;
  background-color: rgba(20, 227, 26);
  border-radius: 10px;
}

.stage {
  margin-top: 10px;
  font-size: 16px;
  color: white;
  text-decoration: underline;
}

.day-acts {
  display: flex;
  font-size: 14px;
  color: black;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.day-acts input {
  background: none;
  border: none;
  color: rgb(215, 31, 31);
  cursor: pointer;
}

.invalid-details {
  color: rgb(255, 139, 139);
  text-shadow: -1px -1px 0 rgba(255, 0, 0, 0.5), 1px -1px 0 rgba(255, 0, 0, 0.5), -1px 1px 0 rgba(255, 0, 0, 0.5), 1px 1px 0 rgba(255, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.act-chart {
  background-color: rgba(20, 227, 26, 0.7);
  color: white;
  width: max-content;
}

.stage-header {
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 1px solid white;
}

.stage-cell {
  position: sticky;
  left: 0;
  background-color: rgba(20, 227, 26);
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  z-index: 999;
}

.cell-header {
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 1px solid white;
}

.cell {
  height: 40px;
  border-bottom: 1px solid white;
  position: relative;
}

.cell::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px dashed black;
  z-index: 998;
}

.act {
  height: 25px;
  background-color: black;
  color: rgb(white);
  text-align: center;
  font-size: 12px;
  position: absolute;
  border-radius: 5px;
  border-color: rgb(25, 229, 49);
  border-style: solid;
  border-width: 1px;
  top: 7.5px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.base-block {
  background-color: black;
  border-top: 2px solid rgb(20, 227, 26);
  display: flex;
  margin-left: 0;
  width: 2229px;
  height: 100%;
  position: absolute;
  left: 0;
}

/* Screen styling */

@media screen and (min-width: 500px) {

  .flanking-block-left {
    background-color: rgba(20, 227, 26, 0.6);
    border-right: 2px solid rgb(20, 227, 26);
    display: flex;
    margin-left: 0;
    height: max(100%, 100vh);
    position: absolute;
    left: 0;
  }

  .flanking-block-right {
    background-color: rgba(20, 227, 26, 0.6);
    border-left: 2px solid rgb(20, 227, 26);
    display: flex;
    margin-left: 0;
    height: max(100%, 100vh);
    position: absolute;
    right: 0;
  }

}